*.mti
*.bak
*.qsf
*.mpf
*.qws
*.wlf
work

# ignore compilation output of ModelSim
*.mti
*.dat
*.dbs
*.psm
*.bak
*.cmp
*.jpg
*.html
*.bsf

# ignore simulation output of ModelSim
wlf*
*.wlf
*.vstf
*.ucdb
cov*/
transcript*
sc_dpiheader.h
vsim.dbg
Compiler/.idea/.gitignore
Compiler/.idea/Compiler.iml
Compiler/.idea/misc.xml
Compiler/.idea/modules.xml
Compiler/.idea/vcs.xml
Compiler/cmake-build-debug
Compiler/cmake-build-release

# ignore personal script files
*.ps1
C1_Phase1_Architecure_Thursday1-4.rar
.gitignore
